<section>

  <h3 class="text-xl">Sign Up</h3>

  <form class="flex flex-col" action="" id="signup-form">
    <input type="text" placeholder="Name" id="user-name" />
    <input type="text" placeholder="Email" id="user-email" />
    <input type="password" placeholder="Password"
      id="user-password" />
    <input type="password" placeholder="Confirm Password"
      id="user-password-confirmation" />
    <button>Signup</button>
  </form>

</section>

<script src="/js/signup.js"></script>